.row {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  margin-left: -15px;
  margin-right: -15px;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .row._zeroSpace {
    margin: 0; }
    .row._zeroSpace .row {
      margin: 0; }
    .row._zeroSpace .row-item {
      padding: 0; }
    .row._zeroSpace .xlargeAuto {
      padding: 0; }
    .row._zeroSpace .xlarge1 {
      padding: 0; }
    .row._zeroSpace .xlarge2 {
      padding: 0; }
    .row._zeroSpace .xlarge3 {
      padding: 0; }
    .row._zeroSpace .xlarge4 {
      padding: 0; }
    .row._zeroSpace .xlarge5 {
      padding: 0; }
    .row._zeroSpace .xlarge6 {
      padding: 0; }
    .row._zeroSpace .xlarge7 {
      padding: 0; }
    .row._zeroSpace .xlarge8 {
      padding: 0; }
    .row._zeroSpace .xlarge9 {
      padding: 0; }
    .row._zeroSpace .xlarge10 {
      padding: 0; }
    .row._zeroSpace .xlarge11 {
      padding: 0; }
    .row._zeroSpace .xlarge12 {
      padding: 0; }
    .row._zeroSpace .xlarge13 {
      padding: 0; }
    .row._zeroSpace .xlarge14 {
      padding: 0; }
    .row._zeroSpace .xlarge15 {
      padding: 0; }
    .row._zeroSpace .xlarge16 {
      padding: 0; }
  .row._start {
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start; }
  .row._center {
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center; }
  .row._end {
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end; }
  .row._top {
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start; }
  .row._middle {
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center; }
  .row._bottom {
    -ms-flex-align: end;
    -webkit-align-items: flex-end;
    align-items: flex-end; }
  .row._around {
    -webkit-justify-content: space-around;
    justify-content: space-around; }
  .row._between {
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between; }
  .row._reverse {
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse; }
  .row .row-item {
    margin-bottom: 15px; }
    .row .row-item .row-item {
      margin: 0; }
  .row .xlarge1 {
    width: 6.25%; }
  .row .xlarge2 {
    width: 12.5%; }
  .row .xlarge3 {
    width: 18.75%; }
  .row .xlarge4 {
    width: 25%; }
  .row .xlarge5 {
    width: 31.25%; }
  .row .xlarge6 {
    width: 37.5%; }
  .row .xlarge7 {
    width: 43.75%; }
  .row .xlarge8 {
    width: 50%; }
  .row .xlarge9 {
    width: 56.25%; }
  .row .xlarge10 {
    width: 62.5%; }
  .row .xlarge11 {
    width: 68.75%; }
  .row .xlarge12 {
    width: 75%; }
  .row .xlarge13 {
    width: 81.25%; }
  .row .xlarge14 {
    width: 87.5%; }
  .row .xlarge15 {
    width: 93.75%; }
  .row .xlarge16 {
    width: 100%; }
  .row .xlargeAuto {
    padding-left: 15px;
    padding-right: 15px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }
    @media screen and (min-width: 1025px) {
      .row .xlargeAuto {
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1; } }
    .row .xlargeAuto.test-300 {
      -webkit-flex: 0 0 300px;
      -ms-flex: 0 0 300px;
      flex: 0 0 300px; }
    .row .xlargeAuto.test-200 {
      -webkit-flex: 0 0 200px;
      -ms-flex: 0 0 200px;
      flex: 0 0 200px; }
    .row .xlargeAuto._static {
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1; }
    @media (max-width: 768px) {
      .row .xlargeAuto._default {
        width: 50%;
        flex: none; } }
    @media (max-width: 480px) {
      .row .xlargeAuto._default {
        width: 100%; } }
  .row .x_auto {
    margin: auto; }
  .row .x_offset1 {
    margin-left: 6.25%; }
  .row .x_offset2 {
    margin-left: 12.5%; }
  .row .x_offset3 {
    margin-left: 18.75%; }
  .row .x_offset4 {
    margin-left: 25%; }
  .row .x_offset5 {
    margin-left: 31.25%; }
  .row .x_offset6 {
    margin-left: 37.5%; }
  .row .x_offset7 {
    margin-left: 43.75%; }
  .row .x_offset8 {
    margin-left: 50%; }
  .row .x_offset9 {
    margin-left: 56.25%; }
  .row .x_offset10 {
    margin-left: 62.5%; }
  .row .x_offset11 {
    margin-left: 68.75%; }
  .row .x_offset12 {
    margin-left: 75%; }
  .row .x_offset13 {
    margin-left: 81.25%; }
  .row .x_offset14 {
    margin-left: 87.5%; }
  .row .x_offset15 {
    margin-left: 93.75%; }
  @media screen and (min-width: 769px) and (max-width: 1024px) {
    .row .large1 {
      width: 6.25%; }
    .row .large2 {
      width: 12.5%; }
    .row .large3 {
      width: 18.75%; }
    .row .large4 {
      width: 25%; }
    .row .large5 {
      width: 31.25%; }
    .row .large6 {
      width: 37.5%; }
    .row .large7 {
      width: 43.75%; }
    .row .large8 {
      width: 50%; }
    .row .large9 {
      width: 56.25%; }
    .row .large10 {
      width: 62.5%; }
    .row .large11 {
      width: 68.75%; }
    .row .large12 {
      width: 75%; }
    .row .large13 {
      width: 81.25%; }
    .row .large14 {
      width: 87.5%; }
    .row .large15 {
      width: 93.75%; }
    .row .large16 {
      width: 100%;
      margin: 0; }
    .row .largeAuto {
      width: auto;
      margin: 0;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1; }
    .row .l_auto {
      margin: auto; }
    .row .l_zero {
      margin: 0; }
    .row .l_offset1 {
      margin-left: 6.25%; }
    .row .l_offset2 {
      margin-left: 12.5%; }
    .row .l_offset3 {
      margin-left: 18.75%; }
    .row .l_offset4 {
      margin-left: 25%; }
    .row .l_offset5 {
      margin-left: 31.25%; }
    .row .l_offset6 {
      margin-left: 37.5%; }
    .row .l_offset7 {
      margin-left: 43.75%; }
    .row .l_offset8 {
      margin-left: 50%; }
    .row .l_offset9 {
      margin-left: 56.25%; }
    .row .l_offset10 {
      margin-left: 62.5%; }
    .row .l_offset11 {
      margin-left: 68.75%; }
    .row .l_offset12 {
      margin-left: 75%; }
    .row .l_offset13 {
      margin-left: 81.25%; }
    .row .l_offset14 {
      margin-left: 87.5%; }
    .row .l_offset15 {
      margin-left: 93.75%; } }
  @media screen and (min-width: 481px) and (max-width: 768px) {
    .row .medium1 {
      width: 6.25%; }
    .row .medium2 {
      width: 12.5%; }
    .row .medium3 {
      width: 18.75%; }
    .row .medium4 {
      width: 25%; }
    .row .medium5 {
      width: 31.25%; }
    .row .medium6 {
      width: 37.5%; }
    .row .medium7 {
      width: 43.75%; }
    .row .medium8 {
      width: 50%; }
    .row .medium9 {
      width: 56.25%; }
    .row .medium10 {
      width: 62.5%; }
    .row .medium11 {
      width: 68.75%; }
    .row .medium12 {
      width: 75%; }
    .row .medium13 {
      width: 81.25%; }
    .row .medium14 {
      width: 87.5%; }
    .row .medium15 {
      width: 93.75%; }
    .row .medium16 {
      width: 100%;
      margin: 0; }
    .row .mediumAuto {
      width: auto;
      margin: 0;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1; }
    .row .m_auto {
      margin: auto; }
    .row .m_zero {
      margin: 0; }
    .row .m_offset1 {
      margin-left: 6.25%; }
    .row .m_offset2 {
      margin-left: 12.5%; }
    .row .m_offset3 {
      margin-left: 18.75%; }
    .row .m_offset4 {
      margin-left: 25%; }
    .row .m_offset5 {
      margin-left: 31.25%; }
    .row .m_offset6 {
      margin-left: 37.5%; }
    .row .m_offset7 {
      margin-left: 43.75%; }
    .row .m_offset8 {
      margin-left: 50%; }
    .row .m_offset9 {
      margin-left: 56.25%; }
    .row .m_offset10 {
      margin-left: 62.5%; }
    .row .m_offset11 {
      margin-left: 68.75%; }
    .row .m_offset12 {
      margin-left: 75%; }
    .row .m_offset13 {
      margin-left: 81.25%; }
    .row .m_offset14 {
      margin-left: 87.5%; }
    .row .m_offset15 {
      margin-left: 93.75%; } }
  @media screen and (min-width: 321px) and (max-width: 480px) {
    .row .small1 {
      width: 6.25%; }
    .row .small2 {
      width: 12.5%; }
    .row .small3 {
      width: 18.75%; }
    .row .small4 {
      width: 25%; }
    .row .small5 {
      width: 31.25%; }
    .row .small6 {
      width: 37.5%; }
    .row .small7 {
      width: 43.75%; }
    .row .small8 {
      width: 50%; }
    .row .small9 {
      width: 56.25%; }
    .row .small10 {
      width: 62.5%; }
    .row .small11 {
      width: 68.75%; }
    .row .small12 {
      width: 75%; }
    .row .small13 {
      width: 81.25%; }
    .row .small14 {
      width: 87.5%; }
    .row .small15 {
      width: 93.75%; }
    .row .small16 {
      width: 100%;
      margin: 0; }
    .row .smallAuto {
      width: auto;
      margin: 0;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1; }
    .row .s_auto {
      margin: auto; }
    .row .s_zero {
      margin: 0; }
    .row .s_offset1 {
      margin-left: 6.25%; }
    .row .s_offset2 {
      margin-left: 12.5%; }
    .row .s_offset3 {
      margin-left: 18.75%; }
    .row .s_offset4 {
      margin-left: 25%; }
    .row .s_offset5 {
      margin-left: 31.25%; }
    .row .s_offset6 {
      margin-left: 37.5%; }
    .row .s_offset7 {
      margin-left: 43.75%; }
    .row .s_offset8 {
      margin-left: 50%; }
    .row .s_offset9 {
      margin-left: 56.25%; }
    .row .s_offset10 {
      margin-left: 62.5%; }
    .row .s_offset11 {
      margin-left: 68.75%; }
    .row .s_offset12 {
      margin-left: 75%; }
    .row .s_offset13 {
      margin-left: 81.25%; }
    .row .s_offset14 {
      margin-left: 87.5%; }
    .row .s_offset15 {
      margin-left: 93.75%; } }
  @media (max-width: 320px) {
    .row .tiny1 {
      width: 6.25%; }
    .row .tiny2 {
      width: 12.5%; }
    .row .tiny3 {
      width: 18.75%; }
    .row .tiny4 {
      width: 25%; }
    .row .tiny5 {
      width: 31.25%; }
    .row .tiny6 {
      width: 37.5%; }
    .row .tiny7 {
      width: 43.75%; }
    .row .tiny8 {
      width: 50%; }
    .row .tiny9 {
      width: 56.25%; }
    .row .tiny10 {
      width: 62.5%; }
    .row .tiny11 {
      width: 68.75%; }
    .row .tiny12 {
      width: 75%; }
    .row .tiny13 {
      width: 81.25%; }
    .row .tiny14 {
      width: 87.5%; }
    .row .tiny15 {
      width: 93.75%; }
    .row .tiny16 {
      width: 100%;
      margin: 0; }
    .row .tinyAuto {
      width: auto;
      margin: 0;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1; }
    .row .t_auto {
      margin: auto; }
    .row .t_zero {
      margin: 0; }
    .row .t_offset1 {
      margin-left: 6.25%; }
    .row .t_offset2 {
      margin-left: 12.5%; }
    .row .t_offset3 {
      margin-left: 18.75%; }
    .row .t_offset4 {
      margin-left: 25%; }
    .row .t_offset5 {
      margin-left: 31.25%; }
    .row .t_offset6 {
      margin-left: 37.5%; }
    .row .t_offset7 {
      margin-left: 43.75%; }
    .row .t_offset8 {
      margin-left: 50%; }
    .row .t_offset9 {
      margin-left: 56.25%; }
    .row .t_offset10 {
      margin-left: 62.5%; }
    .row .t_offset11 {
      margin-left: 68.75%; }
    .row .t_offset12 {
      margin-left: 75%; }
    .row .t_offset13 {
      margin-left: 81.25%; }
    .row .t_offset14 {
      margin-left: 87.5%; }
    .row .t_offset15 {
      margin-left: 93.75%; } }
  .row .xlarge1 {
    padding-left: 15px;
    padding-right: 15px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }
    .row .xlarge1._first {
      -webkit-order: -1;
      -ms-order: -1;
      order: -1; }
    .row .xlarge1._last {
      -webkit-order: 1;
      -ms-order: 1;
      order: 1; }
    @media (max-width: 768px) {
      .row .xlarge1._default {
        width: 50%;
        margin: 0; } }
    @media (max-width: 480px) {
      .row .xlarge1._default {
        width: 100%; } }
  .row .xlarge2 {
    padding-left: 15px;
    padding-right: 15px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }
    .row .xlarge2._first {
      -webkit-order: -1;
      -ms-order: -1;
      order: -1; }
    .row .xlarge2._last {
      -webkit-order: 1;
      -ms-order: 1;
      order: 1; }
    @media (max-width: 768px) {
      .row .xlarge2._default {
        width: 50%;
        margin: 0; } }
    @media (max-width: 480px) {
      .row .xlarge2._default {
        width: 100%; } }
  .row .xlarge3 {
    padding-left: 15px;
    padding-right: 15px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }
    .row .xlarge3._first {
      -webkit-order: -1;
      -ms-order: -1;
      order: -1; }
    .row .xlarge3._last {
      -webkit-order: 1;
      -ms-order: 1;
      order: 1; }
    @media (max-width: 768px) {
      .row .xlarge3._default {
        width: 50%;
        margin: 0; } }
    @media (max-width: 480px) {
      .row .xlarge3._default {
        width: 100%; } }
  .row .xlarge4 {
    padding-left: 15px;
    padding-right: 15px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }
    .row .xlarge4._first {
      -webkit-order: -1;
      -ms-order: -1;
      order: -1; }
    .row .xlarge4._last {
      -webkit-order: 1;
      -ms-order: 1;
      order: 1; }
    @media (max-width: 768px) {
      .row .xlarge4._default {
        width: 50%;
        margin: 0; } }
    @media (max-width: 480px) {
      .row .xlarge4._default {
        width: 100%; } }
  .row .xlarge5 {
    padding-left: 15px;
    padding-right: 15px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }
    .row .xlarge5._first {
      -webkit-order: -1;
      -ms-order: -1;
      order: -1; }
    .row .xlarge5._last {
      -webkit-order: 1;
      -ms-order: 1;
      order: 1; }
    @media (max-width: 768px) {
      .row .xlarge5._default {
        width: 50%;
        margin: 0; } }
    @media (max-width: 480px) {
      .row .xlarge5._default {
        width: 100%; } }
  .row .xlarge6 {
    padding-left: 15px;
    padding-right: 15px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }
    .row .xlarge6._first {
      -webkit-order: -1;
      -ms-order: -1;
      order: -1; }
    .row .xlarge6._last {
      -webkit-order: 1;
      -ms-order: 1;
      order: 1; }
    @media (max-width: 768px) {
      .row .xlarge6._default {
        width: 50%;
        margin: 0; } }
    @media (max-width: 480px) {
      .row .xlarge6._default {
        width: 100%; } }
  .row .xlarge7 {
    padding-left: 15px;
    padding-right: 15px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }
    .row .xlarge7._first {
      -webkit-order: -1;
      -ms-order: -1;
      order: -1; }
    .row .xlarge7._last {
      -webkit-order: 1;
      -ms-order: 1;
      order: 1; }
    @media (max-width: 768px) {
      .row .xlarge7._default {
        width: 50%;
        margin: 0; } }
    @media (max-width: 480px) {
      .row .xlarge7._default {
        width: 100%; } }
  .row .xlarge8 {
    padding-left: 15px;
    padding-right: 15px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }
    .row .xlarge8._first {
      -webkit-order: -1;
      -ms-order: -1;
      order: -1; }
    .row .xlarge8._last {
      -webkit-order: 1;
      -ms-order: 1;
      order: 1; }
    @media (max-width: 768px) {
      .row .xlarge8._default {
        width: 50%;
        margin: 0; } }
    @media (max-width: 480px) {
      .row .xlarge8._default {
        width: 100%; } }
  .row .xlarge9 {
    padding-left: 15px;
    padding-right: 15px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }
    .row .xlarge9._first {
      -webkit-order: -1;
      -ms-order: -1;
      order: -1; }
    .row .xlarge9._last {
      -webkit-order: 1;
      -ms-order: 1;
      order: 1; }
    @media (max-width: 768px) {
      .row .xlarge9._default {
        width: 50%;
        margin: 0; } }
    @media (max-width: 480px) {
      .row .xlarge9._default {
        width: 100%; } }
  .row .xlarge10 {
    padding-left: 15px;
    padding-right: 15px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }
    .row .xlarge10._first {
      -webkit-order: -1;
      -ms-order: -1;
      order: -1; }
    .row .xlarge10._last {
      -webkit-order: 1;
      -ms-order: 1;
      order: 1; }
    @media (max-width: 768px) {
      .row .xlarge10._default {
        width: 50%;
        margin: 0; } }
    @media (max-width: 480px) {
      .row .xlarge10._default {
        width: 100%; } }
  .row .xlarge11 {
    padding-left: 15px;
    padding-right: 15px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }
    .row .xlarge11._first {
      -webkit-order: -1;
      -ms-order: -1;
      order: -1; }
    .row .xlarge11._last {
      -webkit-order: 1;
      -ms-order: 1;
      order: 1; }
    @media (max-width: 768px) {
      .row .xlarge11._default {
        width: 50%;
        margin: 0; } }
    @media (max-width: 480px) {
      .row .xlarge11._default {
        width: 100%; } }
  .row .xlarge12 {
    padding-left: 15px;
    padding-right: 15px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }
    .row .xlarge12._first {
      -webkit-order: -1;
      -ms-order: -1;
      order: -1; }
    .row .xlarge12._last {
      -webkit-order: 1;
      -ms-order: 1;
      order: 1; }
    @media (max-width: 768px) {
      .row .xlarge12._default {
        width: 50%;
        margin: 0; } }
    @media (max-width: 480px) {
      .row .xlarge12._default {
        width: 100%; } }
  .row .xlarge13 {
    padding-left: 15px;
    padding-right: 15px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }
    .row .xlarge13._first {
      -webkit-order: -1;
      -ms-order: -1;
      order: -1; }
    .row .xlarge13._last {
      -webkit-order: 1;
      -ms-order: 1;
      order: 1; }
    @media (max-width: 768px) {
      .row .xlarge13._default {
        width: 50%;
        margin: 0; } }
    @media (max-width: 480px) {
      .row .xlarge13._default {
        width: 100%; } }
  .row .xlarge14 {
    padding-left: 15px;
    padding-right: 15px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }
    .row .xlarge14._first {
      -webkit-order: -1;
      -ms-order: -1;
      order: -1; }
    .row .xlarge14._last {
      -webkit-order: 1;
      -ms-order: 1;
      order: 1; }
    @media (max-width: 768px) {
      .row .xlarge14._default {
        width: 50%;
        margin: 0; } }
    @media (max-width: 480px) {
      .row .xlarge14._default {
        width: 100%; } }
  .row .xlarge15 {
    padding-left: 15px;
    padding-right: 15px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }
    .row .xlarge15._first {
      -webkit-order: -1;
      -ms-order: -1;
      order: -1; }
    .row .xlarge15._last {
      -webkit-order: 1;
      -ms-order: 1;
      order: 1; }
    @media (max-width: 768px) {
      .row .xlarge15._default {
        width: 50%;
        margin: 0; } }
    @media (max-width: 480px) {
      .row .xlarge15._default {
        width: 100%; } }
  .row .xlarge16 {
    padding-left: 15px;
    padding-right: 15px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }
    .row .xlarge16._first {
      -webkit-order: -1;
      -ms-order: -1;
      order: -1; }
    .row .xlarge16._last {
      -webkit-order: 1;
      -ms-order: 1;
      order: 1; }
    @media (max-width: 768px) {
      .row .xlarge16._default {
        width: 50%;
        margin: 0; } }
    @media (max-width: 480px) {
      .row .xlarge16._default {
        width: 100%; } }

.cf:before,
.cf:after {
  content: '';
  display: table; }

.cf:after {
  clear: both; }

html * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  height: 100%; }

body {
  padding-top: 60px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  background: #fff; }

img {
  vertical-align: top;
  max-width: 100%; }

.wrap {
  min-height: 100%;
  max-width: 1200px;
  min-width: 290px;
  margin: 0 auto -40px;
  padding: 15px; }
  .wrap:after {
    content: '';
    display: block;
    height: 40px; }

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background: #f2f2f2;
  z-index: 999;
  -webkkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
  transition: all 0.1s linear; }
  .header.shadow {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); }
  .header .header-wrap {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px; }
  .header .subject, .header .user {
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 15px;
    color: #484848;
    text-decoration: none;
    margin: 22px 0 0 10px; }
  .header .user {
    left: auto;
    right: 10px;
    top: 10px;
    margin: 0;
    width: 40px;
    height: 40px;
    border: 1px solid #DEDEDE;
    border-radius: 100%;
    overflow: hidden; }

.btn-plus-wrap {
  margin: 30px 0;
  text-align: center; }

.btn {
  display: inline-block;
  vertical-align: top;
  position: relative;
  height: 40px;
  padding: 0 20px;
  color: rgba(0, 0, 0, 0.44);
  background-color: #fff;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.15);
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 20px;
  font-family: "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
  line-height: 40px;
  -webkkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  .btn.btn-product {
    margin-top: 10px;
    width: 100%; }
  .btn:hover {
    color: rgba(0, 0, 0, 0.6);
    border-color: rgba(0, 0, 0, 0.3); }
  .btn:active {
    color: rgba(0, 0, 0, 0.8);
    border-color: rgba(0, 0, 0, 0.6); }

.search {
  padding-top: 10px; }
  .search .search-wrap {
    position: relative; }
    .search .search-wrap .search-submit {
      position: absolute;
      top: 0;
      left: 0;
      width: 38px;
      height: 38px;
      background: url("../img/search.svg") center no-repeat;
      background-size: 22px;
      text-indent: -9999px;
      border: none;
      outline: none;
      cursor: pointer; }
    .search .search-wrap .search-text {
      width: 100%;
      outline: none;
      height: 38px;
      padding: 0 5px 0 35px;
      border: 1px solid rgba(0, 0, 0, 0.15);
      border-radius: 20px; }
      .search .search-wrap .search-text:hover {
        border-color: rgba(0, 0, 0, 0.3); }
      .search .search-wrap .search-text:focus {
        border-color: rgba(0, 0, 0, 0.6); }

.footer {
  height: 40px;
  padding-top: 5px;
  background: #f2f2f2;
  color: #484848; }
  .footer .footer-wrap {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px; }

.nav .nav-item {
  display: block;
  padding: 0 20px;
  color: #36556e;
  text-decoration: none;
  line-height: 30px; }
  .nav .nav-item:hover {
    background: #e8ebee;
    border-right: 1px solid #d8dde2; }
.nav li.active > .nav-item {
  background: transparent;
  border-right: 1px solid #1d365d;
  font-weight: bold; }
.nav .sub-nav {
  margin-bottom: 8px; }
  .nav .sub-nav .nav-item {
    padding: 0 30px;
    font-size: 13px;
    line-height: 24px; }

.view .section-wrap {
  margin-bottom: 30px;
  background: #fff;
  border-bottom: 1px dashed #ccc; }
  .view .section-wrap .section {
    position: relative; }
    .view .section-wrap .section .btn-edit {
      position: absolute;
      top: 0;
      right: 0;
      visibility: hidden;
      opacity: 0;
      z-index: 1;
      -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
      transition: all 0.2s ease; }
    .view .section-wrap .section:hover .btn-edit {
      visibility: visible;
      opacity: 1; }
    .view .section-wrap .section .sub-section h1, .view .section-wrap .section .sub-section h2, .view .section-wrap .section .sub-section h3 {
      margin-bottom: 8px;
      color: rgba(0, 0, 0, 0.8);
      font-size: 60px;
      font-family: "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
      position: relative;
      line-height: 1;
      font-weight: bold; }
    .view .section-wrap .section .sub-section h2, .view .section-wrap .section .sub-section h3 {
      margin-bottom: 4px;
      font-size: 36px;
      line-height: 1.2; }
    .view .section-wrap .section .sub-section h3 {
      margin-bottom: 2px;
      color: rgba(0, 0, 0, 0.44);
      font-size: 32px; }
    .view .section-wrap .section .sub-section p {
      margin-bottom: 30px;
      font-size: 22px;
      line-height: 1.5;
      color: rgba(0, 0, 0, 0.95);
      font-family: "freight-text-pro",Georgia,Cambria,"Times New Roman",Times,serif; }
    .view .section-wrap .section .sub-section:hover .btn-edit {
      opacity: 1;
      visibility: visible; }

/*# sourceMappingURL=styles.css.map */
