@import "_variables.scss";
@import "_mixin.scss";

/*clear fix*/
.cf:before,
.cf:after {
  content: '';
  display: table;
}
.cf:after {
  clear: both;
}
/*clear fix*/

@include scrollbars(8px, #ccc);

html * { @include prefix( ( box-sizing: border-box ), webkit moz );}

html, body { height: 100%; }

body { padding-top: 80px; margin: 0; font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 14px; background: $white;

    &.noScroll { overflow: hidden; }

}

img { vertical-align: top; max-width: 100%; }

.wrap { max-width: 1200px; min-width: 800px; margin: 0 auto; padding: 0 15px; }

.main { min-height: 100%; margin-bottom: -50px; font-size: 0;

    .left-side { display: inline-block; width: 25%; padding-right: 45px; vertical-align: top; }

    .right-side { display: inline-block; width: 75%; vertical-align: top; }

    &:after { content: ''; display: block; height: 50px; }

}

.header { position: fixed; top: 0; left: 0; right: 0; height: 60px; padding-top: 14px; background: #f2f2f2; z-index: 999;

    @include prefix(( transition: all .1s linear ), webkkit moz ms );

    &.shadow { box-shadow: 0 1px 3px rgba(0,0,0,.2); }

    .subject { position: absolute; top: 0; left: 20px; font-size: 15px; color: #484848; text-decoration: none; line-height: 60px;

        @include custom_breakpoint(1385) { line-height: 32px; }

    }

    .user { @extend .subject; left: auto; right: 10px; top: 14px; margin: 0; width: 32px; height: 32px; border: 1px solid #DEDEDE; border-radius: 100%; overflow: hidden;

        @include custom_breakpoint(1385) { top: 0; }

    }

    .wrap {

        @include custom_breakpoint(1385) { max-width: 100%; padding: 0 57px 0 104px; position: relative; }

    }

}

.search { float: right; width: 25%; padding-left: 45px;

    .search-wrap { position: relative;

        .search-submit { position: absolute; top: 0; left: 0; width: 38px; height: 32px; background: url("../img/search.svg") center no-repeat; background-size: 22px; text-indent: -9999px; border: none; outline: none; cursor: pointer; }

        .search-text { width: 100%; outline: none; height: 32px; padding: 0 5px 0 35px; border: 1px solid rgba(0,0,0,0.15); border-radius: 20px;

            @include prefix(( transition: all .2s ease ), webkit moz ms);

            &:hover { border-color: rgba(0,0,0,0.3); }

            &:focus { border-color: rgba(0,0,0,0.6); }

        }

    }

}

.btn-plus-wrap { height: 0; text-align: center;

    @include prefix(( transition: all .2s ease ), webkkit ms );

}

.editing .btn-plus-wrap { height: 72px; padding: 20px 0; }

.btn { display: inline-block; vertical-align: top; min-width: 80px; position: relative; height: 32px; padding: 0 10px; color: rgba(0,0,0,0.44); background-color: $white; font-size: 14px; text-align: center; text-decoration: none; cursor: pointer; border: 1px solid #D9D9D9; white-space: nowrap; @include prefix(( user-select: none ), webkit moz ms ); border-radius: 20px; font-family: "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif; line-height: 32px;

    @include prefix(( transition: all .2s ease ), webkkit ms );

    &.btn-product { float: left; width: 25%; width: calc( 25% - 45px ); }

    &.btn-plus { visibility: hidden; opacity: 0; top: 30px; }

    &.btn-accept { float: right; width: 80px; margin-right: -30px;

        &.btn-edit {

            &:after { content: 'Edit'; }

        }

        &.btn-save {

            &:after { content: 'Save'; }

        }

    }

    &:hover { color: rgba(0,0,0,0.6); border-color: rgba(0,0,0,0.3); }

    &:active { color: rgba(0,0,0,0.8); border-color: rgba(0,0,0,0.6); }

}

.media-toolbar { display: none; position: absolute; top: 0; left: -40px; z-index: 1;

    .btn { width: 32px; min-width: 32px; padding: 0; background-position: center; background-repeat: no-repeat; background-color: $white; }

    &.active { display: block; }

    .btn-toggle { font-size: 28px; line-height: 28px;

        @include prefix(( transition: all 250ms ease ), webkit ms);

        &.open {

            @include prefix(( transform: rotate(45deg)), webkit ms);

        }

        &.open + .menu-toolbar { visibility: visible; width: auto; padding-left: 20px;

            .btn {

                @include prefix(( transform: scale(1), transition: all 250ms ease ), webkit ms);

            }

        }

    }

    .menu-toolbar { visibility: hidden; display: inline-block; vertical-align: top; background: #fff; width: 0;

        .btn { margin-right: 10px; line-height: 30px;

            @include prefix((transform: scale(0), transition: none), webkit ms);

            &:last-child { margin: 0; }

            //@for $i from 2 through 4 {
            //
            //    &:nth-child(#{$i}) { @include prefix((transition-delay: $delay + (30*(#{$i}-2)) !important), webkit ms); }
            //
            //}

            &:nth-child(2) { @include prefix((transition-delay: $delay !important), webkit ms); }

            &:nth-child(3) { @include prefix((transition-delay: $delay + 30 !important), webkit ms); }

            &:nth-child(4) { @include prefix((transition-delay: $delay + 60 !important), webkit ms); }

            &.btn-image { background-image: url("../img/image.svg"); background-size: 16px; }

            &.btn-code { background-image: url("../img/code.svg"); background-size: 18px; }

        }

    }

}

body:not(.editing) .media-toolbar { display: none; }

.footer { height: 50px; padding-top: 5px; background: #f2f2f2; color: #484848;

    .footer-text { margin: 0; line-height: 20px; }

}

.nav { padding: 0; margin: 0; list-style-type: none;

    .nav-item { display: block; padding: 0 20px; color: #000; text-decoration: none; line-height: 30px; font-size: 14px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; position: relative;

        @include prefix(( transition: all .2s ease ), webkit moz ms );

        &:hover { box-shadow: inset -1px 0 #1d365d; color: #1d365d; }

    }

    li.active {

      > .nav-item { color: #1d365d; }

    }


    .sub-nav { margin: 0; padding: 0; list-style-type: none;

        .nav-item { padding: 0 30px; font-size: 13px; line-height: 24px; }

    }

    > .nav-list {

        .nav-list { height: 0; overflow: hidden;

            @include prefix(( transition: all .2s ease .2s ), webkit ms );

        }

        &.active {

            .nav-list { height: 24px; }

        }

    }

}

.view {

    .section-wrap { margin-bottom: 20px; background: $white;

        .section { position: relative;

            &:first-child .sub-section {

                &:first-child {

                    h1, h2 { padding-top: 0; }

                }

            }

            .btn-edit { position: absolute; top: 0; right: -30px; width: 30px; height: 24px; visibility: hidden; opacity: 0; z-index: 1; background: url("../img/edit.svg") right center no-repeat; background-size: 24px 24px; cursor: pointer;

                @include prefix(( transition: all .5s ease ), webkit moz ms);

                &.visible { visibility: visible; opacity: .3;

                    &:hover { opacity: .5; }

                    &:active { opacity: .8; }

                }

            }

            .sub-section { min-height: 40px; font-size: 22px; line-height: 1.5; color: rgba(0,0,0,0.95); font-family: "freight-text-pro",Georgia,Cambria,"Times New Roman",Times,serif;

                &:empty:after { content: 'Text...'; color: rgba(0,0,0,.3); position: relative; z-index: -1; }

                h1 { margin:0; padding: 10px 0 ;color: rgba(0,0,0,0.8); font-size: 60px; font-family: "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif; position: relative; line-height: 1;

                    &:empty:after { content: 'Title'; color: rgba(0,0,0,.3) }

                }

                h2 { @extend h1; font-size: 36px; line-height: 1.2; }

            }

        }

    }

}

.editing .section:hover .btn-plus { visibility: visible; opacity: 1; top: 0; }

.popup { visibility: hidden; position: fixed; top: 0; left: 0; right: 0; bottom: 0; opacity: 0; z-index: -1; background: $white; overflow: auto;

    @include prefix(( transition: all .5s ease ), webkit moz ms);

    &.visible { visibility: visible; opacity: 1; z-index: 10000; }

    .close { position: absolute; top: 20px; right: 20px; cursor: pointer; width: 30px; height: 30px; color: $black; border-radius: 100%; border: 1px solid $black; font-size: 28px; text-align: center; line-height: 28px; opacity: .5;

        @include prefix(( transition: all .3s ease ), webkit moz ms);

        &:hover { opacity: 1; }

    }

    .popup-title { margin: 30px 0 15px; font-size: 30px; text-align: center; }

    .product-list { padding: 0 20px; font-size: 0;

        .product-item { display: inline-block; width: 21%; height: 200px; margin: 2%; position: relative; text-decoration: none; overflow: hidden; background: url("http://placecreature.com/300/200") center no-repeat; background-size: cover; vertical-align: top;

            @include prefix(( flex: 1 ), webkit moz ms);

            .product-name { position: absolute; top: 20px; left: 0; font-size: 20px; background: $black; color: $white; padding: 4px 12px; max-width: 100%; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;

                &:hover { text-shadow: 0 0 1px $white; }

                @include prefix(( transition: all .3s ease ), webkit moz ms);

            }

            .product-data { @extend .product-name; top: auto; bottom: 0; font-size: 16px;

                @include prefix(( transform: translate3d(0, 100%, 0) ), webkit moz ms);

            }

            &:hover .product-data { @include prefix(( transform: translate3d(0, -20px, 0) ), webkit moz ms); }

        }

    }

}
