@import "_variables.scss";
@import "_mixin.scss";
@import "_grid.scss";

.cf:before,
.cf:after {
  content: '';
  display: table;
}
.cf:after {
  clear: both;
}

html * { @include prefix( ( box-sizing: border-box ), webkit moz );}

html, body { height: 100%; }

body { padding-top: 60px; margin: 0; font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 14px; background: #fff;

    &.noScroll { overflow: hidden; }

}

img { vertical-align: top; max-width: 100%; }

.wrap { min-height: 100%; max-width: 1200px; min-width: 290px; margin: 0 auto -50px; padding: 15px;

    &:after { content: ''; display: block; height: 50px; }

}

.header { position: fixed; top: 0; left: 0; right: 0; height: 60px; background: #f2f2f2; z-index: 99;

    @include prefix(( transition: all .1s linear ), webkkit moz ms );

    &.shadow { box-shadow: 0 1px 3px rgba(0,0,0,.2); }

    .header-wrap { max-width: 1200px; margin: 0 auto; padding: 0 15px; }

    .subject { position: absolute; top: 0; left: 10px; font-size: 15px; color: #484848; text-decoration: none; margin: 22px 0 0 10px; }

    .user { @extend .subject; left: auto; right: 10px; top: 10px; margin: 0; width: 40px; height: 40px; border: 1px solid #DEDEDE; border-radius: 100%; overflow: hidden; }

}

.btn-plus-wrap { min-height: 40px; margin: 30px 0; text-align: center; }

.btn { display: inline-block; vertical-align: top; position: relative; height: 40px; padding: 0 20px; color: rgba(0,0,0,0.44); background-color: #fff; font-size: 14px; text-align: center; text-decoration: none; cursor: pointer; border: 1px solid rgba(0,0,0,0.15); white-space: nowrap; @include prefix(( user-select: none ), webkit moz ms ); border-radius: 20px; font-family: "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif; line-height: 40px;

    @include prefix(( transition: all .2s ease ), webkkit moz ms );

    &.btn-product { margin-top: 10px; width: 100%; }

    &.btn-plus { visibility: hidden; opacity: 0; position: relative; top: 30px; }

    &:hover { color: rgba(0,0,0,0.6); border-color: rgba(0,0,0,0.3); }

    &:active { color: rgba(0,0,0,0.8); border-color: rgba(0,0,0,0.6); }

}

.search { padding-top: 10px;

    .search-wrap { position: relative;

        .search-submit { position: absolute; top: 0; left: 0; width: 38px; height: 38px; background: url("../img/search.svg") center no-repeat; background-size: 22px; text-indent: -9999px; border: none; outline: none; cursor: pointer; }

        .search-text { width: 100%; outline: none; height: 38px; padding: 0 5px 0 35px; border: 1px solid rgba(0,0,0,0.15); border-radius: 20px;

            @include prefix(( transition: all .2s ease ), webkit moz ms);

            &:hover { border-color: rgba(0,0,0,0.3); }

            &:focus { border-color: rgba(0,0,0,0.6); }

        }

    }

}

.footer { height: 50px; padding-top: 5px; background: #f2f2f2; color: #484848;

    .footer-wrap { max-width: 1200px; margin: 0 auto; padding: 0 15px; }

    .footer-text { margin: 0; line-height: 20px; }

}

.nav { padding: 0; margin: 0; list-style-type: none;

    .nav-item { display: block; padding: 0 20px; color: #36556e; text-decoration: none; line-height: 30px;

        @include prefix(( transition: all .1s ease ), webkit moz ms );

        &:hover { background: #e8ebee; border-right: 1px solid #d8dde2; }

    }

    li.active {

      > .nav-item { background: transparent; border-right: 1px solid #1d365d; font-weight: bold; }

    }


    .sub-nav { margin: 0 0 8px 0; padding: 0; list-style-type: none;

        .nav-item { padding: 0 30px; font-size: 13px; line-height: 24px; }

    }

}

.view {

    .section-wrap { margin-bottom: 30px; background: #fff; border-bottom: 1px dashed #ccc;

        &:last-of-type { border: none; }

        .section { position: relative;

            .btn-edit { position: absolute; top: 0; right: -30px; width: 30px; height: 24px; visibility: hidden; opacity: 0; z-index: 1; background: url("../img/edit.svg") right center no-repeat; background-size: 24px 24px; cursor: pointer;

                @include prefix(( transition: all .5s ease ), webkit moz ms);

                &.visible { visibility: visible; opacity: .3;

                    &:hover { opacity: .5 }

                    &:active { opacity: .8 }

                }

            }

            .sub-section {

                h1 { margin-bottom: 8px; margin-top: 0; color: rgba(0,0,0,0.8); font-size: 60px; font-family: "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif; position: relative; line-height: 1; }

                h2 { @extend h1; margin-bottom: 4px; font-size: 36px; line-height: 1.2; }

                h3 { @extend h2; margin-bottom: 2px; color: rgba(0,0,0,0.44); font-size: 32px; }

                p { margin-bottom: 30px; margin-top: 0; font-size: 22px; line-height: 1.5; color: rgba(0,0,0,0.95); font-family: "freight-text-pro",Georgia,Cambria,"Times New Roman",Times,serif; }

                &:hover .btn-edit { opacity: 1; visibility: visible; }

            }

            &:hover {

                .btn-plus { visibility: visible; opacity: 1; top: 0; }

            }

        }

    }

}

.overlay { visibility: hidden; position: fixed; top: 0; left: 0; bottom: 0; right: 0; background: rgba(0,0,0,.5); z-index: 9999; opacity: 0;

    @include prefix(( transition: all .3s ease ), webkit moz ms);

    &.visible { visibility: visible; opacity: 1; }

}

.popup { visibility: hidden; position: fixed; }
